*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html{
  overflow-x: hidden;
}
.appOuterContainer{
  background-color: #333334;
  height: 100vh;
  display: flex;
  align-items: center;
}
.heading{
  text-align: center;
  padding: 20px;
  background-color: #19191f;
  color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.appInnerContainer{
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 15px;
  border-radius: 25px;
}
@media only screen and (max-width: 947px){
  .appInnerContainer{
    width: 60%;
  }
}
@media only screen and (max-width: 745px){
  .appInnerContainer{
    width: 70%;
  }
}
@media only screen and (max-width: 612px){
  .appInnerContainer{
    width: 80%;
  }
}
@media only screen and (max-width: 486px){
  .appInnerContainer{
    width: 90%;
  }
  .heading{
    font-size: 1.6rem;
  }
}